/* .place__title {
  width: 100%;
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0 0 48px;
  padding: 0;
  grid-row: 1;
  grid-column: 1;
} */

/* TODO del? */
/* @media screen and (max-width: 1024px) {
  .place__title {
  }
} */

/* @media screen and (max-width: 768px) {
  .place__title {
    word-spacing: 10px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 639px) {
  .place__title {
    word-spacing: normal;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 32px;
  }
} */

/* TODO del or add? */
.place__title {
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 48px 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    word-spacing: 10px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 38px;
    margin: 0 16px 29px 16px;
  }
}
