.places {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
  display: grid;
  grid-row-gap: 80px;
  grid-column-gap: 2.5rem;
}

@media (max-width: 1024px) {
  .places {
  }
}

@media (max-width: 768px) {
  .places {
    grid-row-gap: 88px;
    max-width: 720px;
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .places {
    grid-row-gap: 50px;
    padding-top: 64px;
  }
}
