.header__lang {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: min-content;
  column-gap: 18px;
  list-style-type: none;
  align-items: center;
  margin: 0 0 8px;
}

@media screen and (max-width: 768px) {
  .header__lang {
    width: 100%;
    margin: 0 0 5px;
  }
}
