.place__link {
  max-width: 456px;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-decoration-line: underline;
  color: #fff;
}

@media (max-width: 768px) {
  .place__link {
    max-width: 352px;
  }
}

@media (max-width: 320px) {
  .place__link  {
    max-width: 288px;
  }
}
