.place__paragraph {
  grid-column: 2;
  color: #fff;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin: 0 0 27px;
}

/* .place__paragraph:last-of-type {
  margin-bottom: 0;
} */

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    margin: 0 0 24px
  }
}

@media screen and (max-width: 639px) {
  .place__paragraph {
    width: 90%;
    grid-column: 1;
    font-size: 16px;
    line-height: 26.08px;
    margin: 0 auto 24px;
  }
/*
  .place__paragraph:first-of-type {
    margin-bottom: 0;
  } */
}
