.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    max-width: 90%;
    text-align: left;
    margin: 48px 0 0;
    line-height: 16px;
  }
}
