.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .intro {
    padding-top: 88px;
    max-width: 93.75%;
  }
}

@media (max-width: 320px) {
  .intro {
    padding-top: 64px;
  }
}
