.lead__caption {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 1.5px;
  margin: 4px 0 0 0;
}

@media (max-width: 965px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
