.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.75%;
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 90%;
    flex-direction: column;
    padding-top: 64px;
  }
}
