.place__website {
  margin: 0 0 3.75rem;
  align-self: end;
  grid-row: 1;
  grid-column: 2;
}

@media screen and (max-width: 1024px) {
  .place__website {
    margin: 0 0 3.9vw;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    margin: 0 auto 2.5rem;
  }
}

@media (max-width: 639px) {
  .place__website  {
    grid-column: 1;
    grid-row: 2;
    width: 90%;
  }
}
