.intro__title {
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  color: #fff;
  font-style: normal;
  line-height: 58px;
  margin: 0;
}

@media (max-width: 1024px) {
  .intro__title {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .intro__title {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .intro__title {
    max-width: 93.75%;
  }
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
